body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card {
    width: 360px;
    height: fit-content;
    /* border: 1px solid black; */
    box-shadow: 5px 10px 20px 5px lightgray;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    transition: 0.2s;
    background: url("https://img.freepik.com/free-vector/blank-blue-halftone-background_53876-114466.jpg?semt=ais_hybrid&w=740&q=80");
}

.card:hover {
    
    box-shadow: 5px 10px 20px 5px rgb(133, 133, 133);
    /* transform: rotateX(20deg); */
}

.card-header {
    display: flex;
    justify-content: space-between;
}

.card-header h3,
.card-header h4 {
    margin: 0;
}

/* .card-main .data .entry .title,
.card-main .data .entry .value {
    margin: 0;
    font-size: ;
} */

.card-main {
    display: flex;
    gap: 8px;
}

.card-main .data {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.card-main .pass {
    width: 120px;
    display: flex;
    /* flex-direction: column; */
    justify-content: flex-end;
    align-items: center;
}

.title,
.value {
    margin: 0;
} 

.title {
    font-size: 10px;
    color: rgb(58, 58, 58);
}

.value {
    font-size: 12px;
    font-weight: 500;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    
}

.card-footer h2 {
    font-size: 32px;
    font-weight: 600;
    margin: 0;
}

.card-footer p {
    font-size: 6px;
    margin: 0;
}

.card-footer .start {
    display: flex;
    gap: 20px;
}

.card-footer .data.end {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}