div {
  background-color: lightblue;
}

div:first-child {
  background-color: gold;
}

div:nth-child(2) {
  background-color: silver;
}

div:nth-child(3) {
  background-color: rgb(131, 114, 18);
}

ul li:nth-child(3) {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: aqua;
}

ul li:last-child {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: aqua;
}

.link {
  transition: 0.3s;
}

.link:hover {
  color: white;
  padding: 12px;
  width: fit-content;
}

/* style override  */
a:visited {
  color: red;
}

button:hover {
  /* background-color: darkgray; */
}

button:active {
  color: aqua;
}

input {
  transition: 0.3s;
}

input:focus {
  background: linear-gradient(lightblue, cyan);
  /* border: 1px solid lightgray; */
  /* outline: lightgray; */
}

/* h1 {
  background-color: cyan;
  height: 200px;
  width: 150px;
  padding: 15px;
  margin: 15px;

} */

/* a {
  background-color: cyan;
 height: 200px;
  width: 150px;
  padding: 15px;
  margin: 15px;
} */

img {
    width: 50px;
}

.rotate {
    width: fit-content;
}
.rotate:hover {
    transform: rotate(-50deg);
    transition: 0.2s ease-in;
}
/* SEO - Search Engine Optimization */

.static {
    position: static;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
}

.relative {
    position: relative;
    top: 50px;
    left: 100px;
}

.absolute {
    position: absolute;
    top: 75px;
    left: 50px;
    color: cyan;
}

.fixed {
    position: fixed;
    width: 100%;
    /* top: 50px; */
    display: flex;
    gap: 15px;
    padding: 12px;
    background-color: lightgray !important;
    z-index: 999999999;
}

.sticky-1 {
    position: sticky;
    top: 42.5px;
}
.sticky-2 {
    position: sticky;
    top: 70px;
}
.sticky-3 {
    position: sticky;
    top: 97.5px;
}
.sticky-4 {
    position: sticky;
    top: 125px;
}

body {
    height: 3000px;
    margin: 0;
}

/* https://www.kodingkitty.com/img/kodingkitty-blog-sticky-cards.png */